* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}


/*Header*/


.heading-text {
    padding: 50px;
    background-color: #CDCDC0;
    border-top: 5px solid #008080;
    margin: auto;
    text-align: center;
}

.heading-text h1 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 70px;
    transition: all .5s ease-in-out;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.heading-text h2 {
    font-family: 'Cabin Sketch', cursive;
    text-transform: lowercase;
    color: #CD5C5C;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}


/*Description*/



.description {
    text-align: center;
    padding: 40px;
    background-color: #FFFAFA;
    margin: auto;
    border-bottom: 5px solid #008080;
}

.description p {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 40px;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

.grow {
    transition: all .5s ease-in-out;
    color: #FF8C00;
}

.grow:hover {
    transform: scale(1.3);
    letter-spacing: 10px;
    color: #CD5C5C;
}

.grow:active {
    transform: scale(1.3);
    letter-spacing: 10px;
    color: #CD5C5C;
}


/*images*/



.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #CDCDC0;
}

.images img {
    width: 50%;
    height: 525px;
    padding: 20px;
    border-radius: 15px;
    max-width: 100%;
}


/*Skills Section*/

.skills {
    padding: 20px;
    background-color: #FFFAFA;
    margin: auto;
    border-bottom: 5px solid #008080;
    border-top: 5px solid #008080;
}

.skills-both {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FFFAFA;
    margin: auto;
    width: 80vw;
}

.skills-front {
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    order: 1;
    flex-grow: 2;
}

.skills-front:hover {
    transform: scale(1.1);
    background-color: rgba(154,205,50,0.4);
}

.skills-back {
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    order: 3;
    flex-grow: 2;
}

.skills-back:hover {
    transform: scale(1.1);
    background-color: rgba(154,205,50,0.4);
}

.skills h2 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 50px;
    text-align: center;
    order: 2;
    flex-grow: 1;
}

.skills h3 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #CD5C5C;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.skills li {
    list-style-type: none;
    font-family: 'Cabin Sketch', cursive;
    text-transform: lowercase;
    color: #708090;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}


/*Design Work*/

.design {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #CDCDC0;
    border-bottom: 5px solid #008080;
}

.design img {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    opacity: 0.7;
    transition: opacity .5s ease-in-out;
}

.design img:hover {
    opacity: 1;
}

.design a {
    width: 40%;
    margin: auto;
    text-align: center;
}

.design h2 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 50px;
    text-align: center;
}

.design h3 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #CD5C5C;
    font-size: 30px;
    text-align: center;
}


/*Past Work*/

.past-work {
    background-color: #FFFAFA;
    border-bottom: 5px solid #008080;
}

.past-work h2 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 50px;
    text-align: center;
}


.work-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.past-work a {
    width: 40%;
}

.past-work img {
    width: 100%;
    height: 30%;
    padding: 10px;
    border-radius: 15px;
    opacity: 0.7;
    transition: opacity .5s ease-in-out;
}

.past-work img:hover {
    opacity: 1;
}



/* Contact Section*/



.contact {
    padding: 20px;
    background-color: #CDCDC0;
    margin: auto;
    border-bottom: 5px solid #008080;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #008080;
    margin: auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.email a:hover {
    color: #708080;
    transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 
}

.social-media {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.icon {
    padding: 15px;
    border-radius: 100%;
    background: rgba(155,155,155,0.3);
    transition: background 0.5s;
    -moz-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
}

.icon:hover {
    background: rgba(155,155,155,0.7);
    transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 
}

.icon a {
    font-size: 30px;
    color: #008080;
}

.icon-1 {
    margin-right:  20px;
}

.icon-2 {
    margin-left: 20px;
}



/*Top of page button*/


.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:0;
	right:0;	
}

.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:rgba(155,155,155,0.6);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll:hover {
	background:rgba(155,155,155,0.8);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll:focus {
    background:rgba(155,155,155,0.8);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll .fa {
	font-size:40px;
    color: #708090;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}


/*Loading Spinner*/


#overlay {
    height: 100%;
    width:100%;
    background: rgba(0,0,0, .8);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content:center;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-top-color: darkkhaki;
    border-radius: 100%;
    margin-top: 400px;
    animation: round 1s linear infinite;
}
    
    @keyframes round {
        from{transform: rotate(0deg)}
        to {transform: rotate(360deg)}
    }


/*Media Queries*/


@media only screen and (max-width: 1200px) {
    .images {
        flex-direction: column;
        align-items: center;
    }
    
    .images img {
    width: 70%;
    height: auto;
}
    
}


@media only screen and (max-width: 768px) {
    .images img {
    width: 90%;
}
     .skills-both {
    flex-direction: column;
}
    
    .work-links {
    flex-direction: column;
    align-items: center;
}
    
    .past-work img {
    height: 50%;
    padding: 10px;
}
    
    .past-work a {
    width: 70%;
}
    
    #myBtn {
    bottom: 10px; 
    right: 10px;
    padding: 15px; 
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 15px;
    display: none;
}
    
}











