* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}


/*Header*/


.heading-text {
    padding: 50px;
    background-color: #CDCDC0;
    border-top: 5px solid #008080;
    margin: auto;
    text-align: center;
}

.heading-text h1 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 70px;
    transition: all .5s ease-in-out;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.heading-text h2 {
    font-family: 'Cabin Sketch', cursive;
    text-transform: lowercase;
    color: #CD5C5C;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}


/*Description*/



.description {
    text-align: center;
    padding: 40px;
    background-color: #FFFAFA;
    margin: auto;
    border-bottom: 5px solid #008080;
}

.description p {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 40px;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

.grow {
    transition: all .5s ease-in-out;
    color: #FF8C00;
}

.grow:hover {
    transform: scale(1.3);
    letter-spacing: 10px;
    color: #CD5C5C;
}

.grow:active {
    transform: scale(1.3);
    letter-spacing: 10px;
    color: #CD5C5C;
}


/*images*/



.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #CDCDC0;
}

.images img {
    width: 50%;
    height: 450px;
    padding: 20px;
    border-radius: 15px;
}


/*Skills Section*/

.skills {
    padding: 20px;
    background-color: #FFFAFA;
    margin: auto;
    border-bottom: 5px solid #008080;
    border-top: 5px solid #008080;
}

.skills-both {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FFFAFA;
    margin: auto;
    width: 80vw;
}

.skills-front {
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    order: 1;
    flex-grow: 2;
}

.skills-front:hover {
    transform: scale(1.2);
    background-color: rgba(154,205,50,0.4);
}

.skills-back {
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    order: 3;
    flex-grow: 2;
}

.skills-back:hover {
    transform: scale(1.2);
    background-color: rgba(154,205,50,0.4);
}

.skills h2 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 50px;
    text-align: center;
    order: 2;
    flex-grow: 1;
}

.skills h3 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #CD5C5C;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.skills li {
    list-style-type: none;
    font-family: 'Cabin Sketch', cursive;
    text-transform: lowercase;
    color: #708090;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}


/*Past Work*/


.past-work {
    background-color: #CDCDC0;
    border-bottom: 5px solid #008080;
}

.past-work h2 {
    font-family: 'Catamaran', sans-serif;
    text-transform: capitalize;
    color: #708090;
    font-size: 50px;
    text-align: center;
}

.work-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.past-work a {
    width: 40%;
}

.past-work img {
    width: 100%;
    height: 30%;
    padding: 10px;
    border-radius: 15px;
    opacity: 0.7;
    transition: all .5s ease-in-out;
}

.past-work img:hover {
    opacity: 1;
    transform: scale(1.1);
}



/* Contact Section*/



.contact {
    padding: 20px;
    background-color: #FFFAFA;
    margin: auto;
    border-bottom: 5px solid #008080;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #708090;
    margin: auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
}

.email a:hover {
    color: #CD5C5C;
}

.social-media {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.icon {
    padding: 15px;
    border-radius: 100%;
}

.icon a {
    font-size: 30px;
    color: #708090;
}

.icon-1 {
    background-color: #CDCDC0;
    margin-right:  20px;
}

.icon-2 {
    background-color: #CDCDC0;
    margin-left: 20px;
}

.icon-1:hover {
    background-color: rgba(205,92,92,0.4);
}

.icon-2:hover {
    background-color: rgba(205,92,92,0.4);
}



/*Button*/



#myBtn {
    position: fixed; 
    bottom: 20px; 
    right: 60px; 
    z-index: 1000; 
    border: none;
    outline: none;
    background-color: #708090; 
    color: white;
    cursor: pointer; 
    padding: 25px; 
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 30px;
    display: none;
}

#myBtn:active {
    transform: translate(5px, 5px);
}











