* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/*Header*/

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
}

.header-content {
    z-index: 2;
    text-align: center;
    margin: 0 auto;
}

.heading-text {
    padding: 50px;
}

.heading-text h1 {
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    color: #fff;
    font-size: 75px;
    transition: all .5s ease-in-out;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.heading-text h2 {
    font-family: 'Nixie One', cursive;
    text-transform: lowercase;
    color: #CD5C5C;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.arrow {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.arrow a {
    text-decoration: none;
    color: white;
    font-size: 3.5em;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1000ms infinite linear;
  -o-animation: bounce 1000ms infinite linear;
  -webkit-animation: bounce 1000ms infinite linear;
  animation: bounce 1000ms infinite linear;
}

.bounce:hover,:focus {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}


/*Description*/



.description {
    padding: 40px;
}

.description p {
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    color: #fff;
    font-size: 45px;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

.grow {
    color: #CD5C5C;
    position: relative;
    padding: 10px;
}

.grow::before, .grow::after {
    position: absolute;
    content: '';
    transition: transform 500ms ease;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: white;
}

.grow::before {
    border-width: 2px 0 2px 0;
    transform: scaleX(0);
}

.grow::after {
    border-width: 0 2px 0 2px;
    transform: scaleY(0);
}

.grow:hover::before, .grow:hover::after {
    transform: scale(1,1);
}


/*About Section*/

.about {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
    background: #CD5C5C;
}

.about-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    order: 2;
    width: 20%;
    font-family: 'Nixie One', cursive;
    text-transform: lowercase;
    color: #fff;
}

.about-heading h2 {
    font-size: 5em;
    padding: 10px;
}

.about-heading h2::before {
    content: '';
    width: 100%;
    border-bottom: 4px dotted white;
    display: block;
    margin: 25px auto;
}

.about-heading i {
    font-size: 5em;
}

.about-heading i::after {
    content: '';
    width: 92%;
    border-bottom: 4px dotted white;
    display: block;
    margin: 25px auto;
}

.about-paragraph {
    order: 1;
    width: 60%;
    color: #fff;
    font-size: 1.5em;
    line-height: 1.5;
}

/*Team members*/

.team-heading {
    text-align: center;
    color: #CD5C5C;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-heading h2 {
    font-size: 5em;
    padding: 10px;
    font-family: 'Nixie One', cursive;
    text-transform: lowercase;
}

.team-heading i {
    font-size: 5em;
}

.team-heading h2::before {
    content: '';
    width: 20%;
    border-bottom: 4px dotted #CD5C5C;
    display: block;
    margin: 25px auto;
}

.team-heading i::after {
    content: '';
    width: 20%;
    border-bottom: 4px dotted #CD5C5C;
    display: block;
    margin: 25px auto;
}

.team-members {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 60px 20px;
    position: relative;
    flex-wrap: wrap;
}

.member img {
    width: 360px;
    height: 480px;
    display: block;
}


.container-two {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,99,71,0.7);
    overflow: hidden;
    height: 100%;
    width: 0;
    transition: 500ms all ease;
    -webkit-transition: 500ms all ease;
    -ms-transition: 500ms all ease;
    -o-transition: 500ms all ease;
}

.container-two:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-size: 30px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/*Projects*/

.projects {
    background: white;
}

.project-heading {
    text-align: center;
    color: #CD5C5C;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-heading h2 {
    font-size: 5em;
    padding: 10px;
    font-family: 'Nixie One', cursive;
    text-transform: lowercase;
}

.project-heading i {
    font-size: 5em;
}

.project-heading h2::before {
    content: '';
    width: 20%;
    border-bottom: 4px dotted #CD5C5C;
    display: block;
    margin: 25px auto;
}

.project-heading i::after {
    content: '';
    width: 20%;
    border-bottom: 4px dotted #CD5C5C;
    display: block;
    margin: 25px auto;
}

.project-images {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.project-image {
    width: 350px;
    height: 350px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 400px;
    transition: all 500ms ease;
    -webkit-transition: 500ms all ease;
    -ms-transition: 500ms all ease;
    -o-transition: 500ms all ease;
}

.image-overlay:hover {
    background-color: rgba(255,99,71,0.7);
    padding-top: 130px;
}

.image-overlay a {
    display: inline-block;
    font-size: 25px;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: all 500ms ease;
    -webkit-transition: 500ms all ease;
    -ms-transition: 500ms all ease;
    -o-transition: 500ms all ease;
}

.image-overlay a:hover {
    background-color: rgba(155,155,155,0.3);
}

.image-one {
    background-image: url(img/projectone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-two {
    background-image: url(img/projecttwo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-three {
    background-image: url(img/projectthree.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-four {
    background-image: url(img/projectfour.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-five {
    background-image: url(img/projectfive.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-six {
    background-image: url(img/projectsix.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-seven {
    background-image: url(img/projectseven.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-eight {
    background-image: url(img/projecteight.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Contact Section*/

.contact {
    background-color: #CD5C5C;
    width: 100%;
}

.contact-heading {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-heading h2 {
    font-size: 5em;
    padding: 10px;
    font-family: 'Nixie One', cursive;
    text-transform: lowercase;
}

.contact-heading h2::before {
     content: '';
    width: 20%;
    border-bottom: 4px dotted white;
    display: block;
    margin: 25px auto;
}

.contact-heading i {
    font-size: 5em;
}

.contact-heading i::after {
     content: '';
    width: 20%;
    border-bottom: 4px dotted white;
    display: block;
    margin: 25px auto;
}

.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.name-email {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.name {
    padding-right: 10px;
}

.email {
    padding-left: 10px;
}

.contact label {
    display: block;
    margin-top: 1em;
    text-transform: capitalize;
    font-size: 1.1em;
    color: #414141;
}

input {
    display: block;
    padding: 0.75em;
    width: 24vw;
    font-size: 1rem;
    color: #414141;
}

textarea {
    display: block;
    padding: 0.75em;
    width: 50vw;
    font-size: 1rem;
    color: #414141;
}

.button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  text-transform: capitalize;
  padding: 25px;
  width: 20vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
    background-color: snow;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Footer Section*/


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media-icons {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

.icon-style {
    border: 3px solid #CD5C5C;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 18px;
    margin: 30px;
    transition: 200ms all ease;
}

.icon-style i {
    font-size: 60px;
    color: #CD5C5C;
}

.footer-text {
    display: flex;
    align-self: center;
    margin-right: 75px;
    color: #CD5C5C;
    text-transform: capitalize;
    font-size: 20px;
}



/*Top of page button*/


.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:0;
	right:0;	
}

.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
    border-radius: 15px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll .fa {
	font-size:40px;
    color: black;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}


/*Loading Spinner*/


#overlay {
    height: 100%;
    width:100%;
    background: rgba(0,0,0, .8);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content:center;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-top-color: #CD5C5C;
    border-radius: 100%;
    margin-top: 400px;
    animation: round 1s linear infinite;
}
    
    @keyframes round {
        from{transform: rotate(0deg)}
        to {transform: rotate(360deg)}
    }


/*Media Queries*/

@media only screen and (max-width: 1200px) {
    .footer {
    display: flex;
    flex-direction: column;
}
    
    .media-icons {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0px;
    padding: 25px;
}
    
    .footer-text {
    margin-right: 0px;
    padding: 20px;
    font-size: 15px;
}
}

@media only screen and (max-width: 960px) {
    
    .container {
    padding-left: 3rem;
    padding-right: 3rem;
    background: url('Office-Day.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    
    .heading-text {
    padding: 50px;
}
    
    .heading-text h1 {
    font-size: 45px;
}

.heading-text h2 {
    color: #CD5C5C;
}
    
    .description {
    padding: 20px;
}

.description p {
    font-size: 25px;
}
    
    .about {
    flex-direction: column-reverse;
    height: 700px;
}

.about-heading {
    width: 100%;
}

.about-heading h2 {
    font-size: 4em;
}

.about-heading h2::before {
    content: '';
    width: 50%;
    border-bottom: 4px dotted white;
    display: block;
    margin: 20px auto;
}

.about-heading i {
    font-size: 3em;
}

.about-heading i::after {
    content: '';
    width: 50%;
    border-bottom: 4px dotted white;
    display: block;
    margin: 20px auto;
}

.about-paragraph {
    width: 100%;
    font-size: 1.1em;
    text-align: center;
}
    
    input {
    width: 40vw;
}

textarea {
    width: 70vw;
}

.button {
  width: 40vw;
}
    
}



@media only screen and (max-width: 768px) {
    
    .description p {
    font-size: 20px;
}
    
    .about-heading {
    width: 100%;
}
    
    .team-heading h2::before {
    width: 45%;
}

.team-heading i::after {
    width: 45%;
}
    
    .project-heading h2::before {
        width: 45%;
    }
    
    .project-heading i::after {
        width: 45%;
    }
    
      .contact-heading h2::before {
        width: 45%;
    }
    
    .contact-heading i::after {
        width: 45%;
    }
    
    .name-email {
    flex-direction: column;
}
    
    .name {
        padding-right: 0;
    }
    
    .email {
        padding-left: 0;
    }
    
    #myBtn {
    bottom: 10px; 
    right: 10px;
    padding: 15px; 
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 15px;
    display: none;
}
    
}

@media only screen and (max-width: 600px) {
    .about {
        padding: 2em;
    }
    
    .project-images {
    padding: 1em;
}
    
      input {
    width: 70vw;
}

textarea {
    width: 90vw;
}

.button {
  width: 50vw;
}
}











